@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');

html,
body {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background: #1d1e1f;
	color: #ffffff;
}

/* General */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

a {
	color: #ffffff;
}
