.contacts {
	padding: 90px 0;
	text-align: center;
}

.contacts-title {
	margin-bottom: 40px;
}

.contacts-content p + p {
	margin-top: 1em;
}

.contacts-social {
	display: flex;
	justify-content: center;
	column-gap: 25px;
	align-items: center;
	margin-bottom: 30px;
}

.contacts-footer {
	color: #ffffff82;
}

.icon path {
	fill: #ffffff66;
	transition: all 0.4s ease-out;
}

.icon:hover path {
	fill: #ffffffbd;
}
